{% extends "layout.html" %}
{% block content %}
<!------------------------------------------->
<div class="content spacer">
<!-- VERIFICATION HEADER -->
<div class="word-verification-head no-select">
	<h1 class="word-verification-title">
		Word Verification: 
			<span>Full</span></h1>

	<!-- WORD STATUS -->		
	<div class="word-status" style="float:right;">
	{% if word.wordInfo["wordV"] == 0 %}
		<p class="word-status-unverfied">
			<span>Please verify:</span> 
			<a href="{{ url_for('basicWordVerificationPage', wordId=wordId) }}">
				Basic</a> or 
			<a href="{{ url_for('fullWordVerificationPage', wordId=wordId) }}">
				Full</a></p>

	{% elif word.wordInfo["wordV"] == 1 %}
		<p class="word-status-unverfied">
		<span>Please verify:</span> 
		<a href="{{ url_for('fullWordVerificationPage', wordId=wordId) }}">
			Full info</a></p>

	{% elif word.wordInfo["wordV"] == 2 %}
		<p class="word-status-verfied">
			Word verified.</p>
			<!-- Add new type / clone option -->

	{% else %}
		<p>Error somehow.</p>

	{% endif %}
	</div> <!-- END WORD STATUS -->
	<br><p class="word-verification-instructions">
		Read & edit or click each icon 
		[<img src="{{ url_for('static', 
			filename='/img/word/boolFalse.png') }}"
			style="width: 16px; height: 16px;">
		➞
		<img src="{{ url_for('static', 
			filename='/img/word/boolTrue.png') }}"
			style="width: 16px; height: 16px;">] to verify.</p>
</div> <!-- END VERIFICATION HEADER -->
<hr>
<!------------------------------------------->
	<!-- WORD TITLE -->
	{% if word %}
		<a href="{{ url_for('wordPage', wordId=wordId) }}">
		<h1 class="word-title no-select">
		{{ word.word }}</h1></a>
	{% else %}
		<h1 class="title no-select">
		Word Not Found!</h1>
	{% endif %}
<!------------------------------------------->
<!-- FULL VERIFICATION -->
<form method="POST" action="" 
	id="wordVerificationFull">
	{{ form.hidden_tag() }}
<!-- TYPE -->
<div class="block">
	<div class="inline-block l-col">
	<h2 class="no-select">
		<img src="{{ url_for('static', filename='/img/word/boolFalse.png') }}" 
			id="word-type-bool-icon"
			style="cursor: pointer;"
			onclick="wordTypeVerified(); 
				wordVerifiedFull()">
		 Type</h2>

	{{ form.wordType(id="word-verification-type",
		class="word-verification-dropdown",
		onchange="wordTypeVerified(); 
				wordVerifiedFull()",
		) }}
	</div> <!-- END COL-L -->

	<!-- SYLLABLES -->
	<div class="inline-block r-col">
	<h2 class="no-select">
		<img src="{{ url_for('static', filename='/img/word/boolFalse.png') }}" 
			id="word-syllables-bool-icon"
			style="cursor: pointer;"
			onclick="wordSyllablesVerified(); 
				wordVerifiedFull()">
		 Syllables</h2>
		{{ form.wordSyllables(class="word-verification-number",
			type="number", min=1, max=12, 
			value=word.wordInfo['syllables'],
			onchange="wordSyllablesVerified()") }}

		</div> <!-- END COL-R -->
	</div> <!-- END TYPE + SYLLABLES -->
	<br><br><br><br><br>

<!------------------------------------------->
<!-- DEFINITION -->
<h2 class="no-select">
	<img src="{{ url_for('static', filename='/img/word/boolFalse.png') }}" 
		id="word-definition-bool-icon"
		style="cursor: pointer;"
		onclick="wordDefinitionVerified(); 
			wordVerifiedFull()">
	 Definition</h2>
	{{ form.wordDefinition(class="word-verification-textarea", 
		oninput="wordDefinitionVerified(); wordVerifiedFull()" )}}
	<br>

<!------------------------------------------->
<!-- IMAGE -->
<h2 class="no-select">
	<img src="{{ url_for('static', filename='/img/word/boolFalse.png') }}"
		id="word-image-bool-icon"
		style="cursor: not-allowed;">
	 Image</h2>
<p class="bottom10 no-select">
	Select the best suggested image. Tap [<b>&times;</b>] to remove irrelevant images.</p>
<div class="align-center">
<!-- onhover: show image popup -->

{% if word.wordInfo["images"] is string == false %} <!-- list -->
	{% for image in word.wordInfo["images"] %}
		<div class="word-image-unverified-container">
		{% if image == word.wordInfo["imageSelected"] %}
			<img id="initial-selected-image"
				class="word-image-unverified" 
				src="{{ image }}"
				onclick="wordImageSelect( {{ loop.index - 1 }} )"
				style="border: 5px solid hsl(0, 50%, 67%);">
		{% else %}
			<img class="word-image-unverified" 
				src="{{ image }}"
				onclick="wordImageSelect( {{ loop.index - 1 }} )"
				style="border: 5px solid hsl(0, 50%, 67%);">
		{% endif %}
		<div class="word-image-unverified-remove-container no-select">
			<span class="word-image-unverified-remove-button"
				onclick="markForRemoval( {{ loop.index - 1 }} )">
				&times;</span>
				</div>
			</div>
	{% endfor %}
{% else %} <!-- single image -->
	<div class="word-image-unverified-container">
	{% if word.wordInfo['images'] == word.wordInfo["imageSelected"] %}
		<img id="initial-selected-image"
			class="word-image-unverified" 
			src="{{ word.wordInfo['images'] }}"
			onclick="wordImageSelect(0)"
			style="border: 5px solid hsl(0, 50%, 67%);">
	{% else %}
		<img class="word-image-unverified" 
			src="{{ word.wordInfo['images'] }}"
			onclick="wordImageSelect(0)"
			style="border: 5px solid hsl(0, 50%, 67%);">
	{% endif %}
	<div class="word-image-unverified-remove-container no-select">
		<span class="word-image-unverified-remove-button"
			onclick="markForRemoval(0)">
			&times;</span>
			</div>
		</div>
{% endif %}
</div> <!-- END IMAGES DIV -->

<!-- ADD THESE FEATURES WAY LATER -->
<div class="align-center hidden">
	<p class="list-button no-select"
		style="width: 20%; cursor: not-allowed;">
		Load More...</p>
		<!-- Add function for getImgs() -->
	<p class="list-button no-select"
		style="width: 20%; cursor: not-allowed;">
		Add URL 🔗</p>
	<p class="list-button no-select"
		style="width: 20%;"
		id="word-verification-image-upload-button" 
		onclick="wordVerificationImageUpload(); wordVerifiedFull()">
		Upload File 📁</p>
		{{ form.wordImageUpload(class="hidden") }}
	</div>

<!-- IMAGE LIST -->
{% for image in form.wordImages %}
	{% if word.wordInfo["images"] is string == false %} <!-- list -->
		{{ image(value=word.wordInfo['images'][loop.index-1],
				class="hidden") }}
		{# Name & Id == wordImages-image4 #}
	{% else %}
		{% if loop.index == 1 %}
			{{ image(value=word.wordInfo['images'],
				class="hidden") }}
		{% else %}
			{{ image(class="hidden") }}
		{% endif %}
				
	{% endif %}
{% endfor %}
<!-- BEST IMG URL -->
{{ form.wordImageSelected(id = "word-verification-image-selected-url",
	class = "hidden") }}
	<br>

<!------------------------------------------->
<!-- SENTENCE -->
<h2 class="no-select">
	<img src="{{ url_for('static', filename='/img/word/boolFalse.png') }}" 
		id="word-sentence-bool-icon"
		onclick="wordSentenceVerified(); wordVerifiedFull()"
		style="cursor: pointer;">
	 Sentence</h2>
	{{ form.wordSentence(class="word-verification-textarea", 
		oninput="wordSentenceVerified(); wordVerifiedFull()" )}}

<!------------------------------------------->
<!-- WORD INFO BOTTOM -->
<!-- !:: add responsive 2 col layout when small screen -->
<div class="word-info-bottom">
<p class="bottom10 no-select">
	Fill-in or delete words. Don't worry about blank spaces.</p>
<!-- RELATED -->
<!-- POPUP INFO -->
<div id="related-info-modal" 
	class="word-info-modal hidden">
	<div class="word-info-modal-border">
		<p class="word-modal-title no-select">
			Please use this format!</p>
		<p id="related-info-close-modal" 
			class="close-modal">&times;</p>
		</div>
	<div id="related-info" class="no-select">
		<p class="align-left font-weight-300 bottom10">Related words should show the <u>root word used differently</u>, 
		not words with a similar meaning.</p>
		<p class="align-left font-weight-300">
			<b class="font-green">Correct</b>: 
				<u>like</u>, a<u>like</u>, <u>like</u>n, <u>like</u>d...<br>
			<b class="font-red">Incorrect</b>: 
				<u>like</u>, <s>enjoy</s>, <s>favor</s>, <s>fond of</s>...
			</p>
		</div>
	</div>
<!-- Column -->
<div class="word-info-bottom-column">
	<p class="word-info-heading inline-block no-select">
	<img src="{{ url_for('static', filename='/img/word/boolFalse.png') }}"
		id="word-related-bool-icon"
		style="width: 18px; height: 18px; 
			cursor: not-allowed;">
	Related </p>
	<span class="inline-block">
		<a onclick="showInfo(this)" class="no-select"
			style="cursor: pointer;">
			<img src="{{ url_for('static', filename='/img/word/helpIcon.png') }}"
				style="width: 18px; height: 18px;">
			</a></span>

	{% for related in form.wordRelated %}
		{{ related(class="word-verification-string col-related", 
				value=word.wordInfo['related'][loop.index-1],
				onchange = "wordRelatedVerified(); wordVerifiedFull()") }}
	{% endfor %}

	<img src="{{ url_for('static', filename='/img/word/clearAll.png') }}"
		class="bottom-column-clear-all"
		id="clearColumn1"
		onclick="clearColumn(this); wordVerifiedFull()"
		onmouseover="clearAllHover(this)">
	</div>

<!-- SYNONYMS -->
<div class="word-info-bottom-column">
	<p class="word-info-heading no-select">
	<img src="{{ url_for('static', filename='/img/word/boolFalse.png') }}"
		id="word-synonyms-bool-icon"
		style="width: 18px; height: 18px; 
			cursor: not-allowed;">
	Synonyms </p>
	{% for synonym in form.wordSynonyms %}
		{{ synonym(class="word-verification-string col-synonyms", 
				value=word.wordInfo['synonyms'][loop.index-1],
				onchange = "wordSynonymsVerified(); wordVerifiedFull()") }}
	{% endfor %}

	<img src="{{ url_for('static', filename='/img/word/clearAll.png') }}"
		class="bottom-column-clear-all"
		id="clearColumn2"
		onclick="clearColumn(this); wordVerifiedFull()"
		onmouseover="clearAllHover(this)">
	</div>

<!-- ANTONYMS -->
<div class="word-info-bottom-column">
	<p class="word-info-heading no-select">
	<img src="{{ url_for('static', filename='/img/word/boolFalse.png') }}"
		id="word-antonyms-bool-icon"
		style="width: 18px; height: 18px;
			cursor: not-allowed;">
	Antonyms </p>
	{% for antonym in form.wordAntonyms %}
		{{ antonym(class="word-verification-string col-antonyms", 
				value=word.wordInfo['antonyms'][loop.index-1],
				onchange = "wordAntonymsVerified(); wordVerifiedFull()") }}
	{% endfor %}

	<img src="{{ url_for('static', filename='/img/word/clearAll.png') }}"
		class="bottom-column-clear-all"
		id="clearColumn3"
		onclick="clearColumn(this); wordVerifiedFull()"
		onmouseover="clearAllHover(this)">
	</div>

<!-- RHYMES -->
<div class="word-info-bottom-column">
	<p class="word-info-heading no-select">
	<img src="{{ url_for('static', filename='/img/word/boolFalse.png') }}"
		id="word-rhymes-bool-icon"
		style="width: 18px; height: 18px; cursor: pointer;"
		onclick="wordRhymesVerified(); wordVerifiedFull()">
	Rhymes </p>
	{% for rhyme in form.wordRhymes %}
		{{ rhyme(class="word-verification-string col-rhymes", 
				value=word.wordInfo['rhymes'][loop.index-1],
				onchange = "wordRhymesVerified(); wordVerifiedFull()") }}
	{% endfor %}

	<img src="{{ url_for('static', filename='/img/word/clearAll.png') }}"
		class="bottom-column-clear-all"
		id="clearColumn4"
		onclick="clearColumn(this); wordVerifiedFull()"
		onmouseover="clearAllHover(this)">
	</div>
</div> <!-- END WORD INFO BOTTOM -->
<br><hr>
<!------------------------------------------->
<!-- SUBMIT BUTTON -->
{{ form.submit(class="verification-button no-select tint-red",
			style="cursor: not-allowed;") }}
<!------------------------------------------->
</form>
</div> <!-- END CONTENT -->
<!------------------------------------------->
<!-- JAVASCRIPT -->
<script type="text/javascript">

	// INSERT DEFAULT TEXT
	document.getElementById("word-verification-definition").innerHTML="{{ word.wordInfo['definition'] }}";
	document.getElementById("word-verification-sentence").innerHTML="{{ word.wordInfo['sentence'] }}";

	// INSERT DEFAULT TYPE
	let dropdown = document.getElementById("word-verification-type")
	for (i = 0; i < dropdown.length; i++) {
		if (dropdown[i].text == "{{ word.wordInfo['type'] }}" ) {
			dropdown[i].selected = true;
		}
	}

	// MODAL FOR RELATED WORDS
	function showInfo(help) {
		info = document.getElementById("related-info-modal");
		close = document.getElementById("related-info-close-modal");
		info.className = "word-info-modal block";
		close.onclick = function() {
			info.className = "word-info-modal hidden";
		}
		window.onclick = function(event) {
			if (event.target == info) {
				info.className = "word-info-modal hidden";
			}
		}
	}
	
	//VARIABLES
	let wordTypeBool = false,
		wordSyllablesBool = false,
		wordDefinitionBool = false, 
		wordImageBool = false,
		wordSentenceBool = false,
		wordRelatedBool = false,
		wordSynonymsBool = false,
		wordAntonymsBool = false,
		wordRhymesBool = false,
		wordTypeBoolIcon = document.getElementById("word-type-bool-icon"),
		wordSyllablesBoolIcon = document.getElementById("word-syllables-bool-icon"),
		wordDefinitionBoolIcon = document.getElementById("word-definition-bool-icon"),
		wordImageBoolIcon = document.getElementById("word-image-bool-icon"),
		wordImagesUnverified = document.getElementsByClassName("word-image-unverified"),
		removalButtons = document.getElementsByClassName("word-image-unverified-remove-button"),
		wordImageSelected = false,
		bestImage = "",
		wordImageSelectedUrl = document.getElementById("word-verification-image-selected-url"),
		wordSentenceBoolIcon = document.getElementById("word-sentence-bool-icon"),
		wordRelatedBoolIcon = document.getElementById("word-related-bool-icon"),
		wordSynonymsBoolIcon = document.getElementById("word-synonyms-bool-icon"),
		wordAntonymsBoolIcon = document.getElementById("word-antonyms-bool-icon"),
		wordRhymesBoolIcon = document.getElementById("word-rhymes-bool-icon"),
		wordVerifiedBasicBool = false,
		wordVerifiedFullBool = false,
		submitButton = document.getElementById("word-verification-submit-button");

	// ALL VERIFIED
	function wordVerifiedFull() {
	    if (wordTypeBool == true 
	    	&& wordDefinitionBool == true 
	    	&& wordImageBool == true) {
	        wordVerifiedBasicBool = true;
		}
	    if (wordTypeBool == true 
	    	&& wordSyllablesBool == true 
	    	&& wordDefinitionBool == true 
	    	&& wordImageBool == true 
	    	&& wordSentenceBool == true 
			&& wordRelatedBool == true 
			&& wordSynonymsBool == true 
			&& wordAntonymsBool == true 
			&& wordRhymesBool == true) {
	        wordVerifiedFullBool = true;
	        submitButton.className = "verification-button no-select tint-green";
	        submitButton.style = "cursor: pointer; pointer-events: auto";
	    } else {
	        wordVerifiedFullBool = false;
	        submitButton.className = "verification-button no-select tint-red";
	        submitButton.style = "cursor: not-allowed; pointer-events: none";
	    }
	}

	//TYPE BOOL
	function wordTypeVerified() {
	    wordTypeBool = true;
	    if (wordTypeBool == false) {
	        wordTypeBoolIcon.src = "{{ url_for('static', filename='/img/word/boolFalse.png') }}";
	    } else {
	        wordTypeBoolIcon.src = "{{ url_for('static', filename='/img/word/boolTrue.png') }}";
	    }
	}
	
	// SYLLABLES BOOL
	function wordSyllablesVerified() {
	    wordSyllablesBool = true;
	    if (wordSyllablesBool == false) {
	        wordSyllablesBoolIcon.src = "{{ url_for('static', filename='/img/word/boolFalse.png') }}";
	    } else {
	        wordSyllablesBoolIcon.src = "{{ url_for('static', filename='/img/word/boolTrue.png') }}";
	    }
	}

	//DEFINITION BOOL
	function wordDefinitionVerified() {
	    wordDefinitionBool = true;
	    if (wordDefinitionBool == false) {
	        wordDefinitionBoolIcon.src = "{{ url_for('static', filename='/img/word/boolFalse.png') }}";
	    } else {
	        wordDefinitionBoolIcon.src = "{{ url_for('static', filename='/img/word/boolTrue.png') }}";
	    }
	}

	// IMAGE CLASS
	class Image {
		constructor(number) {
			this.number = number;
			this.image = wordImagesUnverified[number];
			this.span = removalButtons[number];
			// 0: remove; 1: initial; 2: selected
			this.state = 1;
		}
	}

	// ALTER IMAGE STATE
	function imageState(imageObject, prevState) {
        let imageRemoved = document.getElementById("wordImages-image" + String(Number(imageObject.number)+1));
		if (imageObject.state == 0) {
        	imageObject.image.className += " image-to-remove";
        	imageObject.span.style = "color: hsl(0, 50%, 50%);"
        	imageRemoved.value = "";
			if (wordImageSelectedUrl.value == imageObject.image.src) {
				wordImageSelectedUrl.value = "";
				wordImageBool = false;
			}
		} else if (imageObject.state == 1) {
			if (prevState == 2) {
				imageObject.image.style = "border: 5px solid hsl(0, 0%, 100%)";
				imageObject.span.className = imageObject.span.className.replace( /(?:^|\s)hidden(?!\S)/g , '' );
				wordImageSelectedUrl.value = "";
				wordImageBool = false;
			} else if (prevState == 1) {
				imageObject.image.style = "border: 5px solid hsl(0, 0%, 100%)";
			} else if (prevState == 0) {
				imageObject.image.className = imageObject.image.className.replace( /(?:^|\s)image-to-remove(?!\S)/g , '' );
        		imageObject.span.style = "color: hsl(0, 50%, 100%);"
				imageRemoved.value = imageObject.image.src;
				if (wordImageSelectedUrl.value == imageObject.image.src) {
					wordImageSelectedUrl.value = "";
					wordImageBool = false;
				}
			}
		} else { // 2
			imageObject.image.style = "border: 5px solid hsl(120, 67%, 67%)";
			imageObject.span.className += " hidden";
			wordImageSelectedUrl.value = imageObject.image.src;
			wordImageBool = true;
		}
		if (wordImageBool == false) {
			wordImageBoolIcon.src = "{{ url_for('static', filename='/img/word/boolFalse.png') }}";
		} else {
			wordImageBoolIcon.src = "{{ url_for('static', filename='/img/word/boolTrue.png') }}";
		}
		wordVerifiedFull();
	}

	// CREATE IMAGES ARRAY
	let imagesArray = [];
	for (i in wordImagesUnverified) {
		var image = new Image(i),
			imageJSON = {
			"name"   : "image" + String(Number(image.number)+1),
			"number" : image.number,
			"image"  : image.image,
			"span"   : image.span
		};
		// alert(image.image.id);
		if (image.image.id == "initial-selected-image") {
			imageJSON.state = 2;
			imageState(imageJSON, 1); // initial formatting
		} else {
			imageJSON.state = image.state;
		}
		imagesArray.push(imageJSON);
	}

	// CHANGE OTHER SELECTED TO INITAL
	function resetStatus(number) {
		for (i in wordImagesUnverified) {
			if (imagesArray[i] != imagesArray[number]) {
				if (imagesArray[i].state == 2) {
					imagesArray[i].state = 1;
					imageState(imagesArray[i], 2);
				} else if (imagesArray[i].state == 1) {
					imageState(imagesArray[i], 1);
				}
			}
			wordImageSelectedUrl.value = imagesArray[number].image.src;
			wordImageBool = true;
			wordImageBoolIcon.src = "{{ url_for('static', filename='/img/word/boolTrue.png') }}";
			wordVerifiedFull();
		}
	}

	// WORD IMAGE SELECT
	function wordImageSelect(number) {
		if (imagesArray[number].state == 1) {
			imagesArray[number].state = 2;
			imageState(imagesArray[number], 1);
			resetStatus(number);
		} else if (imagesArray[number].state == 2) {
			imagesArray[number].state = 1;
			imageState(imagesArray[number], 2);
		}
	}

	// MARK FOR REMOVAL
	function markForRemoval(number) {
		if (imagesArray[number].state == 0) {
			imagesArray[number].state = 1;
			imageState(imagesArray[number], 0);
		} else if (imagesArray[number].state == 1) {
			imagesArray[number].state = 0;
			imageState(imagesArray[number], 1);
		}
	}

	//SENTENCE BOOL
	function wordSentenceVerified() {
	    wordSentenceBool = true;
	    if (wordSentenceBool == false) {
	        wordSentenceBoolIcon.src = "{{ url_for('static', filename='/img/word/boolFalse.png') }}";
	    } else {
	        wordSentenceBoolIcon.src = "{{ url_for('static', filename='/img/word/boolTrue.png') }}";
	    }
	}

	// RELATED BOOL
	function wordRelatedVerified() {
	    wordRelatedBool = true;
	    if (wordRelatedBool == false) {
	        wordRelatedBoolIcon.src = "{{ url_for('static', filename='/img/word/boolFalse.png') }}";
	    } else {
	        wordRelatedBoolIcon.src = "{{ url_for('static', filename='/img/word/boolTrue.png') }}";
	    }
	}

	// SYNONYMS BOOL
	function wordSynonymsVerified() {
	    wordSynonymsBool = true;
	    if (wordSynonymsBool == false) {
	        wordSynonymsBoolIcon.src = "{{ url_for('static', filename='/img/word/boolFalse.png') }}";
	    } else {
	        wordSynonymsBoolIcon.src = "{{ url_for('static', filename='/img/word/boolTrue.png') }}";
	    }
	}

	// ANTONYMS BOOL
	function wordAntonymsVerified() {
	    wordAntonymsBool = true;
	    if (wordAntonymsBool == false) {
	        wordAntonymsBoolIcon.src = "{{ url_for('static', filename='/img/word/boolFalse.png') }}";
	    } else {
	        wordAntonymsBoolIcon.src = "{{ url_for('static', filename='/img/word/boolTrue.png') }}";
	    }
	}

	// RHYMES BOOL
	function wordRhymesVerified() {
	    wordRhymesBool = true;
	    if (wordRhymesBool == false) {
	        wordRhymesBoolIcon.src = "{{ url_for('static', filename='/img/word/boolFalse.png') }}";
	    } else {
	        wordRhymesBoolIcon.src = "{{ url_for('static', filename='/img/word/boolTrue.png') }}";
	    }
	}

	// CLEAR COLUMN
	function clearColumn(button) {
		let column = button.id.slice(button.id.length-1, button.id.length);
		if (column == 1) {
			related = document.getElementsByClassName("word-verification-string col-related");
			for (i = 0; i < 10; i++) {
				related[i].value = "";
			} wordRelatedVerified();
			wordVerifiedFull();
		} else if (column == 2) {
			synonyms = document.getElementsByClassName("word-verification-string col-synonyms");
			for (i = 0; i < 10; i++) {
				synonyms[i].value = "";
			} wordSynonymsVerified();
			wordVerifiedFull();
		} else if (column == 3) {
			antonyms = document.getElementsByClassName("word-verification-string col-antonyms");
			for (i = 0; i < 10; i++) {
				antonyms[i].value = "";
			} wordAntonymsVerified();
			wordVerifiedFull();
		} else {
			rhymes = document.getElementsByClassName("word-verification-string col-rhymes");
			for (i = 0; i < 10; i++) {
				rhymes[i].value = "";
			} wordRhymesVerified();
			wordVerifiedFull();
		}
	}

	// CLEAR COLUMN HOVER
	function clearAllHover(img) {
		img.src = "{{ url_for('static', filename='/img/word/clearAllHover.png') }}";
		img.onmouseout = function() {
			img.src = "{{ url_for('static', filename='/img/word/clearAll.png') }}";
		}		
	}

</script>
<!------------------------------------------->
{% endblock content %}