<!--{% extends "LAYOUT.html" %}
{% block content %}-->
<!-- TEMPLATE FOR BRACKETS DESIGNING -->
<!-------------------------------------------->
	<!-- FAVICON -->
	<link rel="icon" type="image/x-icon" href="static/img/favicons/favicon-32.ico"/>
<!-------------------------------------------->
	<!-- SMACSS -->
	<!-- global tag styles -->
	<link rel="stylesheet" href="static/teflc-base.css">
	<!-- ids and high level classes [.l-] -->
	<link rel="stylesheet" href="static/teflc-layout.css">
	<!-- classes and subclasses -->
	<link rel="stylesheet" href="static/teflc-state.css">
    <!-- @media rules-->
	<link rel="stylesheet" href="static/teflc-media.css">
	<!-- independent themes -->
	<link rel="stylesheet" href="static/teflc-theme.css">
	<!-- animations -->
	<link rel="stylesheet" href="static/teflc-animation.css">
<!-------------------------------------------->
	<!-- GOOGLE FONTS -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<!-------------------------------------------->
	<!-- SCRIPTS -->
	<script src="static/teflc-scripts.js"></script>
<!-------------------------------------------->

<div>
    
</div>

<!--
{% endblock content %} -->